.sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image" => asset_path("sidebar-1.jpg")}
  .logo
    %a.simple-text.logo-normal{:href => root_path}
      %i.material-icons image
      JPEGger WEB
  .sidebar-wrapper
    %ul.nav
      -# %li.nav-item{:class => (current_page? root_path) ? "active" : ""}
      %li.nav-item{:class => (params[:controller] == 'welcome') ?  "active" : ""}
        %a.nav-link{:href => root_path}
          %i.material-icons dashboard
          %p Dashboard
      - unless images_table.blank?
        %li.nav-item{:class => (params[:controller] == 'images') ?  "active" : ""}
          %a.nav-link{:href => images_path(request.params)}
            %i.fa.fa-image
            %p Images
      -#
        - unless shipments_table.blank?
          %li.nav-item{:class => (params[:controller] == 'shipments') ?  "active" : ""}
            %a.nav-link{:href => '#'}
              %i.fa.fa-truck
              %p Shipments
      %li.nav-item{:class => (params[:controller] == 'users') ?  "active" : ""}
        %a.nav-link{:href => users_admin_index_path}
          %i.material-icons person
          %p Users
      - if browser.device.mobile?
        %li.nav-item
          %a.nav-link{:href => company_path(current_user.company)}
            %i.fa.fa-building
            %p= current_user.company.name
        %li.nav-item
          %a.nav-link{:href => destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' }}
            %i.fa.fa-sign-out
            %p Sign out