.sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image" => asset_path("sidebar-1.jpg")}
  .logo
    %a.simple-text.logo-normal{:href => root_path}
      JPEGger WEB
      .text-danger Powered by
      = image_tag('tranact_logo_small.png')
  .sidebar-wrapper
    %ul.nav
      %li.nav-item{:class => (params[:controller] == 'welcome') ?  "active" : ""}
        %a.nav-link{:href => root_path}
          %i.material-icons dashboard
          %p Dashboard
      %li.nav-item
        %a.nav-link{:href => edit_user_registration_path(current_user)}
          %i.fa.fa-user
          = current_user.full_name
          %small.text-muted= "(#{current_user.role})"
      -#
        - unless images_table.blank?
          %li.nav-item{:class => (params[:controller] == 'images') ?  "active" : ""}
            %a.nav-link{:href => images_path}
              %i.fa.fa-image
              %p Images
        - unless shipments_table.blank?
          %li.nav-item{:class => (params[:controller] == 'shipments') ?  "active" : ""}
            %a.nav-link{:href => '#'}
              %i.fa.fa-truck
              %p Shipments
      %li.nav-item
        %hr
        %a.nav-link{:href => destroy_user_session_path, rel: "nofollow", data: {method: :delete, confirm: 'Are you sure you want to sign out?' }}
          %i.fa.fa-sign-out
          %p Sign Out