%footer.footer
  .container-fluid
    %nav.float-left
      %ul
        %li
          %a{:href => "https://tranact.com", target: '_blank;'}
            Transact
        %li
          %a{:href => "https://tranact.com", target: '_blank;'}
            About Us
        %li
          %a{:href => "https://tranact.com", target: '_blank;'}
            Blog
        %li
          %a{:href => "https://tranact.com", target: '_blank;'}
            Licenses
    .copyright.float-right
      ©
      = Date.today.year