.container-fluid
  = render 'shared/flash_messages'
  .row
    .col-sm-6.offset-sm-3
      .text-center
        %h1.bd-title
          %i.fa.fa-photo
          %br
          JPEGger WEB
        %p.bd-lead
          Capture and manage all your images with JPEGger