%p
  Welcome #{@email}!
%p 
  - unless @resource.temporary_password.blank?
    Your temporary password is
    = @resource.temporary_password
    %br
  You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
